
.venv
.nvim/
app_env
Olivia_Adaugo_Okoro_22100643_Innovation and Complexity Management.pdf
Olivia_Adaugo_Okoro_INCO_Project.zip
Olivia_Adaugo_Okoro_Repo_Link.pdf
Repo_Link.docx
Olivia_Adaugo_Okoro_INCO_Project