h1 {
  color: peru;
  text-align: center;
  
}

body{
	list-style: none;
	margin-top: 20px;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Open Sans', sans-serif; */
	background-color: rgba(125, 241, 202, 0.811); 
  font-family: "Trirong", serif;
  font-size: 20px;
}



div.wards{
  background-color: bisque;
  float: right;
  border-radius: 25px;
  padding: 5px;
  margin: 18px;
  width: 19%;
  height: 120px;
  border: 1px solid rgb(64, 86, 69);
  text-align: center;
}

div.right {
  float: right;
  width: 25%;
  padding: 10px;
  margin-right: 30px;

}

div.left {
  margin-left: 10px;
  float: left;
  width: 25%;
  padding: 30px;
}


div.rooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  width: auto;
  height: auto;
  margin-bottom: 25px;
  text-align: center;
  border: 1px solid rgb(133, 125, 136);
  border-radius: 15px;
  padding: 5px;
  outline-style: outset;
  outline-color: rgb(200, 197, 197);
  outline-width: 6px;
}

div.patient{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  margin: 10px;
  padding: 5px;
  border: 1px solid rgb(86, 86, 91);
  outline-style: outset;
  outline-color: rgb(241, 174, 174);
  outline-width: 3px;
  text-align: center;
}


.green {
  background-color: green; 
}

.red {
  background-color: red; 
}

.orange {
  background-color: orange; 
}

#change-color-button{
	display: inline-block;
	padding: 15px 25px;
  margin-left: 40%;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	outline: none;
	color: #fff;
	background-color:rgba(133, 155, 165, 0.811) ;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px rgba(9, 128, 183, 0.811);
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin-top: 50px;
  margin-left: 20%;
  height: 50%;
  border-style: outset;
  padding: 30px;
  background-color: rgb(232, 218, 197);
  align-items: center;
}
.hed{
  font-size: 45px;
  padding-right: 20px;
}
table{

  width: max-content;
  position: relative;
  margin-bottom: 90px;
  margin-top: 30px;
  margin-right: 20px;
}
table, th, td {
  border: 1px solid;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding: 10px;
}
.medic{
  float: right;
}

.patient-info{
  float: left;
}

tr:nth-child(even) {
  background-color: #d0d8db;
}
tr:hover {
  background-color: rgb(145, 142, 141);
}

