h1 {
  color: rgb(136, 108, 113);
  text-align: center;
}

body{
	list-style: none;
	margin-top: 20px;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	background-color: aquamarine; 
}

#ward{
	margin-right: 20px; 
}

div.rooms {
  float: right;
  margin-bottom: 60px;
  margin-left: 2px;
  margin-top: 3px;
  text-align: center;
  width: 10%;
  height: 120px;
  border: 1px solid rgb(123, 59, 145);
  border-radius: 15px;
}

div.wards{
  background-color: rgba(190, 165, 133, 0.63);
  float: right;
  border-radius: 25px;
  margin-left: 3px;
  margin: 20px;
  width: 15%;
  height: 120px;
  border: 1px solid rgb(64, 86, 69);
  text-align: center;
}


div.rooms td.green {
  background-color: green; 
}

div.rooms td.red {
  background-color: red; 
}

div.rooms td.orange {
  background-color: orange; 
}
.section{
	position: relative;
	margin-right: 50px;
}

#change-color-button{
	display: inline-block;
	padding: 15px 25px;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	margin-left: 30px;
	outline: none;
	color: #fff;
	background-color:rgba(76, 75, 77, 0.811) ;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #1a515b;
}





