<!-- {
'FirstName': 'Aaron',
'LastName': 'Burgess',
'Address': 'Ap #955-6907 Malesuada Ave', \
'PatientID': 'Q9B0R5',
'Given': 2,
'WardCode': 46,
'Ward': 'Neurology',
'Gender': 'Male',
'RoomNo': 184,
'Prescribed': 3,
'Percentage': 0.6666666666666666
} -->

{% extends 'index.html' %}
{% block content %}

  <div class="wrapper">
   <!--Top Menu & Menu button-->


    <div class="section ">
                  <h1 >Welcome to {{data[0]['Ward']}} Department</h1>
    <div id='ward'>
    {% for patient in data %}
      <div class="rooms" style="background-color: {{patient['Status']}}">
        <h3>{{patient['RoomNo']}}</h3>
        <h3 class='room_no'><a href="{{ url_for('details', ward=patient['Ward'], Room=patient['RoomNo']) }}">{{ patient.FirstName }} {{ patient.LastName }} </a></h3>

          {% for medication in range(1, patient['Prescribed']) %}
          <td class="{{patient['Status']}}"></td>
          <td class="{{patient['Status']}}"></td>
          <td class="{{patient['Status']}}"></td>
          {% endfor %}
      </div>
       {% endfor %}   
       
    </div>
    
  </div>
  <button id="change-color-button">Shift Hand Over</button>

</div>

{% endblock %}

