<!-- {
    "FirstName": "Aaron",
    "LastName": "Burgess",
    "PatientID": "Q9B0R5",
    "Address": "Ap #955-6907 Malesuada Ave",
    "Gender": "Male",
    "Ward": "Neurology",
    "RoomNo": 225,
    "WardCode": 46,
    "Prescribed": 3,
    "Medication1": "Petroleum Jelly",
    "Medication2": "Sennosides",
    "Medication3": "Mirtazapine",
    "Given": 2,
    "Status": "Partially Completed",
    "Percentage": 0.6666666666666666
   }, -->

   {% extends 'index.html' %}
   {% block content %}
   
   <div class="wrapper">
     <!--Top Menu & Menu button-->
     <div class="section">
             <h1>Select Your Ward...</h1>
           {% for ward in data %}
           <div class="wards">
               <h2 class='wardID'> <a href="{{ward}}">{{ward}}</a></h2>
           </div>
     {% endfor %}
     </div>
   
   </div>
   {% endblock %}
   